body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

/* Heading Area */
#heading {
  background: #00509d;
  color: white;
  padding: 30px 10px;

}

#user-input {
  width: 10%;
  height: 10%;
  font-size: 1.5rem;
  text-align: center;
  border: solid 1px black;
  padding: 10px;

}

/* sections */

.conversions {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* button */
#convertBtn {
  background: #ffd500;
  color: #00509d;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.2;
  cursor: pointer;

}

#convertBtn:hover{
  color: #e01e37;
  transform: scale(1.15);
  transition: transform 0.25s ease, color 0.25s ease;
}
